body {
  font-family: 'meslo';
}

@font-face {
  font-family: 'meslo';
  src: url('./MesloLGMDZ-RegularForPowerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color:#fff;
}

.navbar-inverse {
  background-color:#363e42;
}

.active {
  border-left:1em double #ff2b71;
  background-color:black;
}

.label-text {
}
