body {
  font-family: 'meslo';
  background-color: #363e42;
}

@font-face {
  font-family: 'meslo';
  src: url('./MesloLGMDZ-RegularForPowerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  color:#fff;
}

.navbar-inverse {
  background-color:#363e42;
  box-shadow: 0px 0px 3px black;
}

.active {
  background-color:none;
}

.nav-tabs {
  border: none;
  background-color:none;
}

a:active {
  background-color:none;
}

.label-text {
  display: none;
}

.third-party-widget {
  position: fixed;
  height: 25em;
  overflow-y: scroll;
}

.tab-content {
  height: 11em;
  overflow: auto;
}

.fixed {
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.subgroup {
  width: 31%;
  position: relative;
  margin: 0.5em;
}

.group .subgroup {
}

.fixed {
    position: fixed;
}

.ev-info {
  padding:0.7em;
}

.ev-info p,
.ev-info .fa {
  display: inline-block;
}

.ev-img-contain {
  overflow: hidden;
}

.ev-img-contain img {
  width: 21em;
  object-position: -34px;
}

div.panel-body {
  border-top: none;
}

ul {
  list-style: none;
}

.no-evs {
  color: red;
}

.nav.nav-stacked {
  overflow:auto;
}

.nav.nav-stacked li {
  white-space: nowrap;
}

div.panel-body {
  padding: 0;
}

div.panel-heading {
  padding: 0;
}

.ev-date {
  top: 0;
}

.third-party-widget::-webkit-scrollbar {
 width: 3%;
}
.ev-contain::-webkit-scrollbar {
  width: 1%;
}

.third-party-widget:hover::-webkit-scrollbar-track,
.ev-contain:hover::-webkit-scrollbar-track {
}

.ev-contain:hover::-webkit-scrollbar {
  width: 1%;
}

.third-party-widget:hover::-webkit-scrollbar {
  width: 3%;
}

.ev-contain:hover::-webkit-scrollbar-thumb {
  background: rgba(2, 128, 144, 1); 
}

.third-party-widget:hover::-webkit-scrollbar-thumb {
  background: rgba(51, 101, 138, 1);
}
