body {
  font-family: 'meslo';
}

@font-face {
  font-family: 'meslo';
  src: url('./MesloLGMDZ-RegularForPowerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
}

.navbar-inverse {
  background-color:#363e42;
  box-shadow: 0px 0px 3px black;
}

.active {
  background-color:none;
}

.nav-tabs {
  border: none;
  background-color:none;
}

a:active {
  background-color:none;
}

.label-text {
  display: none;
	color: #363e42;
}

.third-party-widget {
  height: 25em;
  overflow-y: scroll;
  position:fixed;
}

.tab-content {
  height: 11em;
  overflow: auto;
}

.fixed {
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.subgroup {
  width: 31%;
  position: relative;
  margin: 0.5em;
}

.group .subgroup {
}

.fixed {
    position: fixed;
}

.ev-info {
  padding:0.7em;
}

.ev-info p,
.ev-info .fa {
  display: inline-block;
}

.ev-img-contain {
  overflow:hidden;
  position:relative;
  width:85%;
  height:11em;
  background-size:cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
  left:0;
}

.ev-img-contain img {
  width: 21em;
  object-position: -34px;
}

div.panel-body {
  border-top: none;
}

ul {
  list-style: none;
}

.no-evs {
  color: red;
}

.nav.nav-stacked {
  overflow:auto;
}

.nav.nav-stacked li {
  white-space: nowrap;
}

div.panel-body {
  padding: 0;
}

div.panel-heading {
  padding: 0;
}

.ev-date {
  top: 0;
}

.third-party-widget::-webkit-scrollbar {
 width: 3%;
}
.content-contain::-webkit-scrollbar {
  width: 1%;
}

.content-contain::-webkit-scrollbar-thumb {
  background: rgba(2, 128, 144, 1); 
}

.third-party-widget::-webkit-scrollbar-thumb {
  background: rgba(51, 101, 138, 1);
}

#login-form input {
	display: block;
	margin: 2% auto;
  border: 1px solid transparent;
  text-align: center;
}

#login-form input:not([type="submit"]):focus {
  outline:none;
  border-bottom:1px solid;
  
}

a:hover,
a:focus {
  text-decoration:none;
}

.subnav-link {
  color:#363e42;
  text-transform:uppercase;
}

.subnav-link.active {
  color:#19647E;
  border-bottom:2px solid #19647E;
}

.label a {
  color:white;
  text-transform:uppercase;
}

.content-contain {
  height: 39em;
  overflow-y: auto;
  overflow-x:hidden;
  margin-top: 5%;
}
