$primary-color: #3f51b5;
$secondary-color: #64ffda;

body {
  font-family: 'Roboto', sans-serif;
  background-color:#333;
  color: white;
}

.navbar-inverse {
  background-color:#363e42;
  box-shadow: 0px 0px 3px black;
  padding: 0 1em;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.active {
  background-color:none;
}

.nav-tabs {
  border: none;
  background-color:none;
}

a:active {
  background-color:none;
}

.label-text {
  display: none;
	color: #363e42;
}

.third-party-widget {
  height: 25em;
  position: fixed;

  > div:nth-child(2) {
    height: 20em;
    overflow-y: auto;

    &::-webkit-scrollbar {
       width: 3%;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
    }
  }
}

.tab-content {
  height: 11em;
  overflow: auto;
}

.fixed {
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
}

.group {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.subgroup {
  width: 31%;
  position: relative;
  margin: 0.5em;
  border-top: 4px solid $primary-color;

  .icon-times-container {
    position: absolute;
    display: none;
    right: 0;
    z-index: 9;
  }

  svg {
    vertical-align: bottom;
  }
}

.fixed {
    position: fixed;
}

.ev-info {
  padding:0.7em;
}

.ev-img-contain {
  overflow:hidden;
  position: relative;
  width: 100%;
  height:11em;
  background-size:cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
  right: 0;
}

.ev-img-contain img {
  width: 21em;
  object-position: -34px;
}

div.panel-body {
  border-top: none;
}

ul {
  list-style: none;
}

.no-evs {
  color: red;
}

.nav.nav-stacked {
  overflow:auto;
}

.nav.nav-stacked li {
  white-space: nowrap;
}

div.panel-body {
  padding: 0;
}

div.panel-heading {
  padding: 0;
}

.ev-date {
  top: 0;
}

.third-party-widget::-webkit-scrollbar {
 width: 3%;
}
.content-contain::-webkit-scrollbar {
  width: 1%;
}

.content-contain::-webkit-scrollbar-thumb {
  background: $secondary-color; 
}

a:hover,
a:focus {
  text-decoration:none;
}

.subnav-link {
  color:black;
  text-transform:uppercase;
}

.subnav-link.active {
  color:#0097a7;
  border-bottom:2px solid #0097a7;
}

.label a {
  color:white;
  text-transform:uppercase;
}

.content-container {
  height: 37em;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10%;

  &::-webkit-scrollbar {
    width: 1%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}


.curr-ev {
  display:inherit;
}

.nav-stacked > li > a {
  padding: 10px 0;
  font-size:0.8em;
}

a:hover {
  color: $secondary-color;
}

a {
  color:#ccc;
}

.nav-stacked > li > a:hover,
.nav-stacked > li > a:focus {
  background:none;
}

.search-list-title {
  display:inline-block;
  margin-left: 1em;
}

.panel-heading {
  white-space:nowrap;
}

.no-evs .panel-title > a {
  cursor:default;
}

.btn-opt-toggle {
  cursor:pointer;
}

.ev-count {
  display:inline-block;
}

.search-list-events {
  margin-left: 2em;
}

.hide-item {
  display: none;
}

.clickable {
  cursor: pointer;
}

.dropdown {
  &:hover .dropdown-menu {
    display: block;
  }

  .nav {
    li {
      a {
        padding-bottom: 5px;
      }
    }
  }

  .dropdown-toggle svg {
    vertical-align: middle;
  }
}

.scroll-contain {
  height: 15em;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 1%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}

.alertify {
  .msg {
    color: #333;
  }
}
